:root {
    --clr-dk-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dk-blue: hsl(212, 21%, 14%);
    --clr-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
}

/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--clr-cream);
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

img, picture {
    display: block;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* STYLES: MOBILE-FIRST */

.container {
    background-color: var(--clr-white);
    border-radius: 6px;
    max-width: 90%;
    overflow: hidden;
    
}

.perfume-text {
    color: var(--clr-gray-blue);
    font-family: var(--ff-primary);
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

}

h1 {
    font-family: var(--ff-secondary);
    line-height: 1;
}

.about {
    color: var(--clr-gray-blue);
    font-family: var(--ff-primary);
    font-size: 0.8rem;
    line-height: 1.7;
}

.container-detail {
  gap: 10px;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.price-container {
   display: flex;
   align-items: center;
   gap: 15px;
}

.sale {
   color: var(--clr-dk-cyan);
   font-family: var(--ff-secondary);
   font-size: 2rem;
}

.original {
    color: var(--clr-gray-blue);
    font-family: var(--ff-primary);
    font-size: 0.8rem;
    text-decoration: line-through;
}


button {
    background-color: var(--clr-dk-cyan);
    border: none;
    border-radius: 5px;
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 15px;
}

button::before {
    content: url(images/icon-cart.svg);
    padding: 5px;
}

/* DESKTOP STYLES */

@media (min-width: 600px) {
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
}

.container-detail {
    border: 1px solid red;
    gap: 30px;
}
img {
    height: 100%;
    object-fit: cover;
}
}









/*

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/