:root {
    --clr-dk-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dk-blue: hsl(212, 21%, 14%);
    --clr-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
}

/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--clr-cream);
    -webkit-font-smoothing: antialised;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img, picture {
    display: block;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* STYLES: MOBILE-FIRST */

.container {
    border-radius: 10px;
    max-width: 85%;
    overflow: hidden;
    background-color: var(--clr-white);
}

.cont-details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 15px;
}

.perfume-text {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7rem;
}

h1 {
    line-height: 1;
    font-size: 1.7rem;
}

h1, .sale {
    font-family: var(--ff-secondary);
}
.about {
    font-size: 0.8rem;
    line-height: 1.7;
}

.perfume-text, .about, .original {
    font-family: var(--ff-primary);
    color: var(--clr-gray-blue);
}

.price-container {
    display: flex;
    align-items: center;
}

.original {
    text-decoration: line-through;
    font-size: 0.8rem;
    margin-left: 15px;
}

.sale {
    color: var(--clr-dk-cyan);
    font-size: 1.8rem;
}

button {
    border: none;
    background-color: var(--clr-dk-cyan);
    color: var(--clr-white);
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button::before {
    content: url(images/icon-cart.svg);
    margin-right: 10px;   
}

/* DESKTOP */

@media (min-width: 600px) {
    
    html, body {
        height: 100%;
    }

    img {
        height: 100%;
        object-fit: cover;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
    }

    .cont-details {
        display: flex;
        justify-content: space-evenly;
    }
    
    h1 {
        font-size: 2.4rem;
    }

    button {
        padding: 15px;
    }
}